@layout("../../system/layout.html", {title: "商户"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="名称" v-model="business.f_name" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">所属辖区代码<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="所属辖区代码" v-model="business.f_dept" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">地址<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="地址" v-model="business.f_addr" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">电话<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="电话" v-model="business.f_tel" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">手机<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="手机" v-model="business.f_mobile" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">是否安装监控<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="是否安装监控" v-model="business.f_state" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">安装时间<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="安装时间" v-model="business.f_instdate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/base/business/add.js"></script>
@}